
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@*Jumbotron ve Image*@
<h2>Index</h2>

<div class="container">
    <div class="jumbotron">
        @*sade ve kolay bir başlık alanı sağlar*@
        <h2 class="text-center">başlık</h2>
        <p>paragraf</p>
    </div>
    <img src="~/images/matrix.jpg" width="500px" height="500px" class="rounded" />
    <img src="~/images/matrix.jpg" width="500px" height="500px" class="rounded-circle" />
    <img src="~/images/matrix.jpg" width="500px" class="img-thumbnail" />
</div>

