
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@*Tablolar*@

<h2>Index</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Names</th>
                <th>Surnames</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Adam</td>
                <td>Smith</td>
            </tr>
            <tr>
                <td>Eva</td>
                <td>Smith</td>
            </tr>
            <tr>
                <td>Jane</td>
                <td>Doe</td>
            </tr>
        </tbody>

    </table>
</div>

<br />

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Names</th>
                <th>Surnames</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Adam</td>
                <td>Smith</td>
            </tr>
            <tr>
                <td>Eva</td>
                <td>Smith</td>
            </tr>
            <tr>
                <td>Jane</td>
                <td>Doe</td>
            </tr>
        </tbody>

    </table>
</div>

<br />

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Names</th>
                <th>Surnames</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Adam</td>
                <td>Smith</td>
            </tr>
            <tr>
                <td>Eva</td>
                <td>Smith</td>
            </tr>
            <tr>
                <td>Jane</td>
                <td>Doe</td>
            </tr>
        </tbody>

    </table>
</div>

<br />

<div class="container">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Names</th>
                <th>Surnames</th>
            </tr>
        </thead>

        <tbody class="table-light">
            <tr>
                <td>Adam</td>
                <td>Smith</td>
            </tr>
            <tr>
                <td>Eva</td>
                <td>Smith</td>
            </tr>
            <tr>
                <td>Jane</td>
                <td>Doe</td>
            </tr>
        </tbody>

    </table>
</div>

<br />

<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Names</th>
                    <th>Surnames</th>
                </tr>
            </thead>

            <tbody>
                <tr class="table-success">
                    <td>Adam</td>
                    <td>Smith</td>
                </tr>
                <tr class="table-danger">
                    <td>Eva</td>
                    <td>Smith</td>
                </tr>
                <tr class="table-primary">
                    <td>Jane</td>
                    <td>Doe</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


