
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@*Cardlar*@

@*Bootstrap4'te kartlar bir bütünlük içinde verileri saklamak için kullanılan yapılardır. *@
<div class="container col-md-5">
    <h2>Index</h2>

    <div class="card border-info">
        <div class="card-header">
            Header
        </div>
        <div class="card-body">
            <h2 class="card-title">Başlık</h2>
            <p class="card-text">Text</p>
            <a class="card-link" href="#">Link</a>
        </div>
        <div class="card-footer">
            Footer
        </div>
    </div>

    <br /><br /><br />

    <div class="card">
        <div class="card-header">
            Header
        </div>
        <div class="card-body">
            <img class="card-img-top" src="~/images/matrix.jpg" />
            <h2 class="card-title">Başlık</h2>
            <p class="card-text">Text</p>
            <a class="card-link" href="#">Link</a>
        </div>
        <div class="card-footer">
            Footer
        </div>
    </div>

</div>
<

