
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @*Bootstrap 4 - Giriş*@
    <div class="container">
        @*sayfayı ortalayarak container oluşturur*@
        <h1>Sayfa Başlığı</h1>
        <br />
        <p>Alt Metin</p>
    </div>

    <div class="container-fluid">
        @*sayfayı ortalamadan container oluşturur*@
        <h1>Sayfa Başlığı</h1>
        <br />
        <p>Alt Metin</p>
    </div>   
</body>
</html>
