
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@*Badges*@ 

<h2>Index</h2> 

@*Badges kullanıldığı etikete göre şekil değiştirirler*@

<div class="container">
    <h1>
        böyle oluyor: <span class="badge badge-secondary"> Yeni </span>
    </h1>

    <h2>
        böyle oluyor: <span class="badge badge-pill badge-dark"> Yeni </span>
    </h2>

    <h3>
        böyle oluyor: <span class="badge badge-success"> Yeni </span>
    </h3>

    <h4>
        böyle oluyor: <span class="badge badge-pill badge-warning"> Yeni </span>
    </h4>

    <h5>
        böyle oluyor: <span class="badge badge-danger"> Yeni </span>
    </h5>

    <h6>
        böyle oluyor: <span class="badge badge-secondary"> Yeni </span>
    </h6>

    <button type="button" class="btn btn-primary">
        Mesajlar <span class="badge badge-secondary">5</span>
    </button>

</div>



