
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@*Listeler*@
<h2>Index</h2>

<ul>
    <li>
        Çay
        <ul>
            <li>Yeşil Çay</li>
            <li>Siyah Çay</li>
        </ul>
    </li>
    <li>
        Süt
    </li>
    <li>
        Kahve
    </li>
</ul>

<br />

<ul class="list-unstyled">
    <li>
        Çay
        <ul class="list-unstyled">
            <li>Yeşil Çay</li>
            <li>Siyah Çay</li>
        </ul>
    </li>
    <li>
        Süt
    </li>
    <li>
        Kahve
    </li>
</ul>

<br />

<ul class="list-inline">
    <li class="list-inline-item">Avokado</li>
    <li class="list-inline-item">Mango</li>
    <li class="list-inline-item">Ananas</li>
</ul>


