
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@*Alertler*@

<h2>Index</h2>

<div class="container">
    <div class="alert">
        <strong>Alert</strong> oluşturuldu
    </div>
</div>

<div class="container">
    <div class="alert alert-success">
        <strong>Alert</strong> oluşturuldu
    </div>
</div>

<div class="container">
    <div class="alert alert-warning">
        <strong>Alert</strong> oluşturuldu
    </div>
</div>

<div class="container">
    <div class="alert alert-dark">
        <strong>Alert</strong> oluşturuldu
    </div>
</div>

<div class="container">
    <div class="alert alert-danger">
        <strong>Alert</strong> oluşturuldu
    </div>
</div>

<div class="container">
    <div class="alert alert-info">
        <strong>Alert</strong> oluşturuldu <a href="#">Link</a>
    </div>

    <div class="alert alert-primary alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Alert</strong> oluşturuldu
    </div>
</div>

