
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@*Text Tipleri*@
<h2>Index</h2>

<div class="row">
    <div class="container">
        <h1>h1 başlığı</h1>
        <h1 class="display-1">display 1</h1>
        <h1 class="display-2">display 2</h1>
        <h1 class="display-3">display 3</h1>
        <h1 class="display-4">display 4</h1>

        <p class="display-4">display 4</p>

 </div>

   <div class="container">
        <p class="font-weight-bold text-center">bold</p>
        <p class="font-weight-normal text-left">bold</p>
        <p class="font-weight-light text-right">bold</p>
        <p class="font-italic small">italic</p>
        <p class="font-italic">italic</p>
    </div>


   <div class="container">
       <p class="text-uppercase">Bu bir deneme yazısıdır.</p>
       <p class="text-lowercase">Bu bir deneme yazısıdır.</p>
       <p class="text-capitalize">Bu bir deneme yazısıdır.</p>
   </div>
</div>

