
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@*List Gruplar*@

<div class="container">
    <h2>Index</h2>

    <ul class="list-group col-md-2">
        <li class="list-group-item active">Sayılar</li>
        <li class="list-group-item">Bir</li>
        <li class="list-group-item">İki</li>
        <li class="list-group-item">Üç</li>
    </ul>

    <br />

    <ul class="list-group col-md-4">
        <li class="list-group-item disabled">Günler</li>
        <li class="list-group-item">Salı</li>
        <li class="list-group-item">Cuma</li>
        <li class="list-group-item">Cumartesi</li>
    </ul>

    <br />

    <ul class="list-group col-md-2">
        <li class="list-group-item list-group-item-primary">Renkler</li>
        <li class="list-group-item list-group-item-success">Yeşil</li>
        <li class="list-group-item list-group-item-warning">Sarı</li>
        <li class="list-group-item list-group-item-dark">Kırmızı</li>
        <li class="list-group-item list-group-item-info">Mavi</li>
    </ul>
</div>

<br /><br /><br />


