
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@*Renkler*@

<h2>Index</h2>

<div class="container">
    <p class="text-primary">bu alana text gelecek</p>
    <p class="text-success">bu alana text gelecek</p>
    <p class="text-warning">bu alana text gelecek</p>
    <p class="text-danger">bu alana text gelecek</p>
    <p class="text-info">bu alana text gelecek</p>
    <p class="text-muted">bu alana text gelecek</p>
    <p class="text-secondary">bu alana text gelecek</p>
    <p class="text-dark">bu alana text gelecek</p>
    <p class="text-white">bu alana text gelecek</p>
    <p class="text-light">bu alana text gelecek</p>
</div>

<br />

<div class="container">
    <p class="text-white bg-primary">bu alana text gelecek</p>
    <p class="text-white bg-success">bu alana text gelecek</p>
    <p class="text-warning bg-dark">bu alana text gelecek</p>
    <p class="text-danger bg-info">bu alana text gelecek</p>
    <p class="text-info bg-danger">bu alana text gelecek</p>
    <p class="text-dark bg-transparent">bu alana text gelecek</p>
    <p class="text-secondary bg-warning">bu alana text gelecek</p>
    <p class="text-dark bg-light">bu alana text gelecek</p>
</div>

<br />

<div class="container">
    <a class="text-danger bg-success" href="#">Link oluştu</a>
</div>

<br /><br /><br />



